snippet date "date" w
`!v strftime('%Y-%m-%d')`
endsnippet

snippet time "time" w
`!v strftime('%H:%M:%S')`
endsnippet

snippet Date "Date" w
`!v strftime('%B %-d, %Y')`
endsnippet

snippet me "me" w
Vivek Myers 
endsnippet

snippet email "email" w
vivek.myers@gmail.com
endsnippet

snippet author "contact" w
Author: Vivek Myers <vivek.myers@gmail.com>
endsnippet
