snippet LATEXMK "latexmk" w
LATEXMK = `!v ("latexmk -pdf -outdir=".g:vimtex_compiler_latexmk['out_dir']." -emulate-aux-dir -auxdir=".g:vimtex_compiler_latexmk['aux_dir']." ".g:vimtex_compiler_latexmk['options']->join(' '))`
endsnippet
